<div class="header-info">
  <span class="header-info-name"><a href="/">{{ site.title }}</a></span><br/>
  <span class="header-info-desc">{{ site.description }}</span>
</div>
<nav class="header-nav">
  <ul class="header-main-nav">
    {% for item in site.data.menus %}
    <li class="header-main-nav-item">
      <a href="{% if item.absoluteUrl != true %}{{ site.baseurl }}/{% endif %}{{ item.url }}">
        {% if item.default %}
          {{site.data.lang[site.language][item.default]}}
        {% else %}
          {{ item.title }}
        {% endif %}
      </a>
    </li>
    {% endfor %}
    <li class="header-main-nav-item">
      <a href="https://github.com/aloria/aloria.github.io/blob/master/README.md">Submit</a>
    </li>
    <li class="header-main-nav-img">
      <a href="https://twitter.com/thefckingrecipe"><img src="/assets/images/twitter.png"/></a>
    </li>
  </ul>
</nav>
