@charset "utf-8";

.post-title {
  text-align: left;
}

.post-content p {
  line-height: 20px;
}

.post-content img {
  display: block;
  margin: 10px auto;
}

.post-content a {
    color: #6298C2;
}

.post-info {
  font-size: 14px;
  padding-top: 10px;
  margin: 10px 0;
}

.post-category,
.post-tag {
  margin: 0 5px;
}
